pandas
numpy
matplotlib
seaborn
plotly
datetime
yfinance
wikipedia
wordcloud
Wikipedia-API
scikit-learn
yellowbrick
nltk
gensim
textblob
spacy==3.7.2
spacy-transformers
spacytextblob
pyLDAvis
transformers
pyspellchecker
contractions
torch
flair
gdelt
geopandas
missingno
mercury
pygeodesy
marisa_trie
gdeltdoc 
